<html>
    <head>
        <title>Hard Cardio!</title>
    </head>
    
  <body>
      <style> body {
 text-align: center;
 list-style-position: inside;
 background-image: url("https://i.ytimg.com/vi/AekT-0mkqsQ/maxresdefault.jpg");
  background-size: cover;
  color:white;
}
ul li{
   list-style-type: disc;
   list-style-position: inside;
   padding: 10px 0 10px 20px;
   text-indent: -1em;
}
</style>
  <header> 
    <h2 style=font-size:55px><font color="b">You got a hard cardio workout!</font></h2>
    
  </header>
    
    <header>
        <h4 style=font-size:20px>
            <i>Make sure to stretch before and after all workouts to prevent soreness and injuries!</i>
        </h4>
    </header>
   
    
    <ul><h3>Do each exercise 50 seconds on 10 seconds rest
      
      <br></br>
        Circuit 1: x3
        <li>Bosu burpees</li>
        <li>Step ups</li>
        <li>V sit bicep curls</li>
        <li>Renegade row</li>
        <li>5 min cardio block (treadmill, jumprope, etc)</li>
    <br>
    <br>
        Circuit 2: x3
        <li>Alternating step ups</li>
        <li>Burpee to broad jump</li>
        <li>Double pulse squat jumps</li>
        <li>Plank to side extension</li>
        <li>5 min cardio block</li>
    <br>
    <br>
         Circuit 3: x3
        <li>Heel tap squat jumps</li>
        <li>Alternating standing crunch</li>
        <li>In out bosu ball jumps</li>
        <li>Lateral squats narrow to lateral</li>
        <li>Pushups to failure</li>
    
    <h3></ul>
  
    
    <br>
    
    <img src="https://www.active.com/Assets/Fitness/thomas-roe/bosu-lateral.gif" height="100" width="200"/> <img src="http://www.myfitnessutopia.com/wp-content/uploads/2015/12/24.gif" height = "100" width = "200"/> <img src="http://assets.menshealth.co.uk/main/assets/renegaderowdb.gif?mtime=1466677171" height="100" width="200"/> 
    
  </body>
    
    <br>
    <br>
    <br>
<footer>Up to 45 minutes after your workout you should eat or drink some kind of protein. If you need help deciding what to eat or drink after, click <a href="https://www.healthline.com/nutrition/eat-after-workout"> here</a>.
</footer>
<br>
  <footer>Also drink plenty of water to replenish your body of the sweat you just lost! For more information about nutrition and fitness click <a href="https://greatist.com/health/complete-guide-workout-nutrition-infographic">here!</a>
</footer>
    
</html>