<!DOCTYPE html> 
<html> 
  <head><title>Welcome to QuickFit!</title>
  <link rel = "stylesheet" type = "text/css" href = "health.css">

  <script>
function startTime() {
    var today = new Date();
    var h = today.getHours();
    var m = today.getMinutes();
    var s = today.getSeconds();
    m = checkTime(m);
    s = checkTime(s);
    document.getElementById('txt').innerHTML =
    h + ":" + m + ":" + s;
    var t = setTimeout(startTime, 500);
}
function checkTime(i) {
    if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
    return i;
}
</script>
  
  
  
  
  
  
  </head>
  <style> * {box-sizing: border-box}

body {background-image: url("https://avatars.mds.yandex.net/get-pdb/234183/348795d2-6952-4743-b410-66b24b9151d5/orig"); 
background-size: cover;


}</style>
  
  
  
  
  
  
  
  
  
<body>
 <center><nav> 
  <a href = "./index.erb" > Home Page</a>
  <a href = "./index1.erb" > Workout Quiz </a>
  
  </nav></center>
  <header><center><h1 style=font-size:70px><font color="white">Welcome to QuickFit</font></h1></center></header>
  
  
  
  
  
  
<center><h1 style=font-size:170px><font color="white"><body onload="startTime()">

<div id="txt"></div>

</font>
  
  <header><h1 style=font-size:70px><font color="white">Ready to workout? Click <a href ="index1.erb"> here!</a></font></h1></header>
  <header><h1 style=font-size:70px><font color="white">Ready to find crush? Click <a href ="crush.erb"> here!</a></font></h1></header>
  <header><h1 style=font-size:30px><font color="white"> <a href ="signup.erb"> Sign Up or Login</a></font></h1></header>

  
</body></center>

<footer><center><h2><font color="white">"Small daily improvements are the key to staggering long-term results." -Anonymous</font></h2></center></footer>
 
  

  
</body>  
 
</html>