<!DOCTYPE html>
<html>
 <head>
   <meta charset="UTF-8">
   <title>Pre-Workout Questions</title>
     <link rel="stylesheet" type="text/css" href = "/css/styles.css">
 </head>
 <style> body {
  text-align: center;
  color: #ffffff;
  list-style-position: inside;
  background-image: url("https://a.travel-assets.com/findyours-php/viewfinder/images/res60/163000/163689-Vancouver.jpg");
  background-size: cover;
  background-position: center; 
}

/* Add padding to container elements */
.box {
  padding: 33px;
  background-color: #FFFFFF;
  opacity: 0.55;
  width: %;
  color: black;
  
  
  
}</style>
 <body>
     <nav> 
  <a href = "/" > Home Page</a>
  <a href = "./index1.erb" > Workout Quiz </a>
  
  </nav>
     <h1 style=font-size:80px>Pre-Workout Questions</h1>
     <h4 style=font-size:44px>Find out what type of workout to do today!</h4>
     <form action="/results" method="post">
    <div class="box">
       <h2 style=font-size:30px>What type of workout do you want to do?</h2>
       <h2><input type="radio" name="workout" value="1">Cardio<br>
         <input type="radio" name="workout" value="100">Strength<br></h2>
     
       <h2 style=font-size:30px>How long do you want the workout to be?</h2>
       <h2><input type="radio" name="length" value="1">30 minutes<br>
       <input type="radio" name="length" value="2">1 hour<br>
         <input type="radio" name="length" value="3">1.5 hours<br></h2>
       
       <h2 style=font-size:30px> What intensity do you want the workout to be? </h2>
         <h2><input type="radio" name="intensity" value="1" >Low<br>
         <input type="radio" name="intensity" value="2">Medium<br>
           <input type="radio" name="intensity" value="3">High<br></h2>
    
</div>     
      
      
      <!-- <h2> How experienced are you with working out?</h2>
<br> -->
         <!-- <input type="radio" name="skill" value="A" >I'm an expert
       <input type="radio" name="skill" value="B"> I'm slightly active <br>
         <input type="radio" name="skill" value="C"> I don't ever even walk
           <br> -->
       <br>
       <br>
       <br>
      <br>
       <button type = "submit"> <h1>Let's Workout!</h1></button>
     </form>
 
 </body>