<!DOCTYPE html>
<html>
   <head>
       <title>Low Cardio!</title>

   </head>
   
   <header>
       <h1 style=font-size:55px>You got low cardio!</h1>
   </header>
   <style> body {
  text-align: center;
  list-style-position: inside;
  background-image: url("https://www.pixelstalk.net/wp-content/uploads/2016/07/1080p-HD-Backgrounds-Nature-Free-Download.jpg")
}
ul li{
    list-style-type: disc;
    list-style-position: inside;
    padding: 10px 0 10px 20px;
    text-indent: -1em;
}</style>
   <header>
       <h3 style=font-size:20px>
           <i>Make sure to stretch a little before any workout!</i>
       </h3>
   </header>
   
   <br>
   
   <ul><h3> REPEAT X2
       <li>1 min high knees</li>
       <li>30 seconds rest</li>
       <li>1 min 180 squat jumps</li>
       <li>30 seconds rest</li>
       <li>1 min jump lunges</li>
       <li>30 seconds rest</li>
       <li>1 min burpees</li>
       <li>30 seconds rest</li>
       <li>1 min mountain climbers</li>
       <li>30 seconds rest</li>
       <li>1 min bicycle sit-ups</li>
       <li>30 sec rest</li>
       <li>1 min alternating v-ups</li>
       <li>1 min rest</li>
   <h3></ul>
   
    
    <br>
    
    <img src="https://img.aws.livestrongcdn.com/ls-article-image-673/cme/photography.prod.demandstudios.com/762b8b3e-7048-45c8-9e17-1fe72b138ff9.gif" height="100" width="200"/> <img src="https://i.pinimg.com/originals/15/ac/0f/15ac0f8daf4e37801593c5fccd9a2063.gif" height = "100" width = "200"/> <img src="https://media1.popsugar-assets.com/files/thumbor/2iv-57xP6zuP55-TzMhCQdqI97Q/fit-in/2048xorig/filters:format_auto-!!-:strip_icc-!!-/2016/05/05/837/n/1922398/ce3cb6ada51d72e7_d608cf41e9cae739_180Jump.xxxlarge_2x.gif" height="100" width="200"/> 
    
  </body>
     
     <br>
     <br>
     <br>
     <br>
<footer><font color="white">Up to 45 minutes after your workout you should eat or drink some kind of protein. If you need help deciding what to eat or drink after, click <a href="https://www.healthline.com/nutrition/eat-after-workout"> here</a>.
  </font></footer>

<br>

  <footer><font color="white">Also drink plenty of water to replenish your body of the sweat you just lost! For more information about nutrition and fitness click <a href="https://greatist.com/health/complete-guide-workout-nutrition-infographic">here!</a>
    </font></footer>
    
</html>