<!DOCTYPE html>
<html>
    <head>
        <title>Light Strength!</title>
    </head>
    
  <body>
      <style> body {
  text-align: center;
  list-style-position: inside;
  background-image: url("https://wallpapermemory.com/uploads/499/scenic-background-hd-2560x1440-258746.jpg")
}
ul li{
    list-style-type: disc;
    list-style-position: inside;
    padding: 10px 0 10px 20px;
    text-indent: -1em;
}</style>
  <header> 
    <h2 style=font-size:55px>You got a light strength workout!</h2>
    
  </header>
    
    <header>
        <h4 style=font-size:20px>
            <i>Make sure to stretch before and after all workouts to prevent soreness and injuries!</i>
        </h4>
    </header>
   
    <br>
    <ul>
      <h3 style=font-size:25px>REPEAT X2<h3>
      
    
        <li>Jog 5 min (warmup)</li>
        <li>Squats 30 seconds</li>
        <li>Pushups 15 seconds</li>
        <li>Alternating leg lunges 30 seconds</li>
        <li>Jog 5 minutes</li>
        <li>Plank 1 min</li>
        <li>Crunches 15 seconds</li>
        <li>Plank 1 min</li>
        <li>Mountain climbers 1 min</li>
        <li>Rest 1 min</li>
        <br>
    </ul>
    
    <br>
    
    <img src="https://media1.popsugar-assets.com/files/thumbor/Iu8waoj6rmL6c7B8gZUdS1ZIa3I/fit-in/2048xorig/filters:format_auto-!!-:strip_icc-!!-/2017/06/08/791/n/1922729/c4943793a2ba2dd5_SlowerClimbers.gif" height="100" width="200"/> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEq8jCWtZ1kr7P7DJxFtP6l-o5NcO2IqMkR0diIZOsvPukwPOl" height = "100" width = "200"/> <img src="https://zippy.gfycat.com/InferiorFalseGalago.gif" height="100" width="200"/> 
    <br>
  <br>
  <br>
  </body>
<footer><font color="white">Up to 45 minutes after your workout you should eat or drink some kind of protein. If you need help deciding what to eat or drink after, click <a href="https://www.healthline.com/nutrition/eat-after-workout"> here</a>!</font>
</footer>
<br>
  <footer><font color="white">Also drink plenty of water to replenish your body of the sweat you just lost! For more information about nutrition and fitness, click <a href="https://greatist.com/health/complete-guide-workout-nutrition-infographic">here!</a></font>
</footer>
    <br>
    <br> 
</html>