<!DOCTYPE html>
<html>
    <head>
        <title>Medium Cardio!</title>
    </head>
    
  <body>
  <header> 
    <h2 style=font-size:55px>You got a medium cardio workout!</h2>
    
  </header>
    <style>body {
  text-align: center;
  list-style-position: inside;
  background-image: url("http://longwallpapers.com/Desktop-Wallpaper/sky-wallpaper-1080p-For-Desktop-Wallpaper.jpg");
  background-size: cover
}
ul li{
    list-style-type: disc;
    list-style-position: inside;
    padding: 10px 0 10px 20px;
    text-indent: -1em;
}
</style>

    <header>
        <h4 style=font-size:20px>
            <i>Make sure to stretch before and after all workouts to prevent soreness and injuries!</i>
        </h4>
    </header>
   
    
    <ul><h3> Repeat x2
      
      <br></br>
   
        <li>Run 1/2 mile (jogging pace)</li>
        <li>1 min plank</li>
        <li>Run 1/4 mile</li>
        <li>20 mountain climbers</li>
        <li>Run 1/2 mile (faster pace)
          
      </h3></ul> 
          <br>
  
    
    <br>
    
    <img src="https://media.giphy.com/media/sgjJkkJutglMY/source.gif" height="100" width="200"/> <img src="https://78.media.tumblr.com/bed237db81e4f94a818e44a0b00d6652/tumblr_inline_mpdcbmTkBF1qz4rgp.gif" height = "100" width = "200"/> <img src="http://likegif.com/wp-content/uploads/2013/01/running-gif-26.gif" height="100" width="200"/> 
    
  </body>
    
    <br>
    <br>
<br>
<footer>Up to 45 minutes after your workout you should eat or drink some kind of protein. If you need help deciding what to eat or drink after, click <a href="https://www.healthline.com/nutrition/eat-after-workout"> here</a>.
</footer>

<br>

  <footer>Also drink plenty of water to replenish your body of the sweat you just lost! For more information about nutrition and fitness click <a href="https://greatist.com/health/complete-guide-workout-nutrition-infographic">here!</a>
</footer>
    <br>
    <br>
    <br>
    
</html>