<!DOCTYPE html>
<html>
    <head>
        <title>Medium Strength!</title>
    </head>
    
  <body>
      <style> body {
  text-align: center;
  list-style-position: inside;
  background-image: url("https://i.pinimg.com/originals/d1/63/a7/d163a74fbf063ade79deeffd73194a3f.jpg")}
}
ul li{
    list-style-type: disc;
    list-style-position: inside;
    padding: 10px 0 10px 20px;
    text-indent: -1em;
}</style>
  <header> 
    <h2 style=font-size:55px>You got a medium strength workout!</h2>
    
  </header>
    
    <header>
        <h4 style=font-size:20px>
            <i>Make sure to stretch before and after all workouts to prevent soreness and injuries!</i>
        </h4>
    </header>
   
    
    <ul><h3> Repeat x2
      <br>
      <br>
      Do 12-15 reps
      
      <br></br>
   
        <li>Standing lunges with weights at sides</li>
        <br>
        <li>1 min plank</li>
        <br>
        <li>Single leg deadlift with dumbells</li>
        <br>
        <li>Standing dumbell press</li>
        <br>
        <li>Pushups to failure</li>
          <br>
      </h3></ul>
  
    
    <br>
  <br>
    
    <img src="http://pharmacypedia.org/wp-content/uploads/2015/06/heres-the-monday-workout-for-the-get-fit-summer-challenge-1433624544247.gif" height="100" width="200"/> <img src="https://thumbs.gfycat.com/GlossySkinnyDuckbillcat-max-1mb.gif" height = "200" width = "200"/> <img src="https://i.pinimg.com/originals/08/89/64/088964aaeb745e733f5d1b55407bd3d7.gif" height="100" width="200"/> 
    
  </body>
<br>
<br>
<br>
<footer><strong>Up to 45 minutes after your workout you should eat or drink some kind of protein. If you need help deciding what to eat or drink after, click <a href="https://www.healthline.com/nutrition/eat-after-workout"> here</a>
  </strong></footer>

<br>

  <footer><strong>Also drink plenty of water to replenish your body of the sweat you just lost! For more information about nutrition and fitness click <a href="https://greatist.com/health/complete-guide-workout-nutrition-infographic">here!</a>
    </strong></footer>
    


<br>
<br>
<br>
<br>
</html>